@font-face {
    font-family: UniSansThin;
    src: url(../fonts/UniSansThin.otf);
}

img.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

.hero-heading {
    margin: 0;
    position: relative;
    top: 120%;
    color: rgb(0, 19, 19)
}

.hero-heading {
    font-family: "UniSansThin";
}

h1.hero-heading-txt {
    font-stretch: expanded;
    font-size: 400%;
}

h2.hero-heading-txt {
    font-size: 200%;
}
